streamlit
streamlit-image-coordinates
scikit-learn
scikit-build
scikit-image
torch>=1.9.1
torchvision
pandas
pillow
numpy
opencv-python-headless
requests
timm
ipywidgets
matplotlib
validators
pyopengl
scipy