streamlit
scikit-learn
scikit-build
scikit-image
torch >= 1.9.1
torchvision
pandas
pillow
numpy
opencv-python-headless
opencv-contrib-python
pyfacer
streamlit-image-coordinates
timm
ipywidgets
matplotlib
validators
requests
opencv-python
pyopengl
