streamlit
streamlit-image-coordinates
scikit-learn
scikit-build
scikit-image
torch >= 1.9.1
torchvision
pandas
pillow
numpy
opencv-python-headless
pyfacer
timm
ipywidgets
matplotlib
validators
requests
pyopengl
textblob
scipy
pytesseract
nltk